body {
	margin: 0;
}
#sectionA {
	background: blue;
	width: 33%;
}
#sectionB {
	background: red;
	width: 34%;
}
#sectionC {
	background: green;
	width: 33%;
}
#Master {
	display: flex;
	justify-content: baseline;
}
