/* your code here */
#myFirstH2 {
	visibility: hidden; /*se esconde pero ocupa el espacio*/
}
#mySecondH2 {
	display: none; /*se esconde y deja disponible el espacio*/
}
li {
	display: inline;
}
strong {
	display: block;
}
