.calendar {
	top: 0em;
	left: 1em;
	padding-top: 14px;
	width: 140px;
	height: 110px;
	background: #ededef;
	font-size: 84px;
	text-align: center;
	color: #000;
	z-index: 2;
	border-radius: 3px;
	position: absolute;
}

/*.calendar em {
	display: inline;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}*/

.calendar::before,
.calendar::after {
	display: flex;
	justify-content: space-around;
	width: 15px;
	height: 15px;
	background: #111;
	z-index: 3;
	border-radius: 10px;
	box-shadow: 0 1px 1px rgb(175, 19, 19);
	position: absolute;
}
.calendar::before {
	left: 11px;
}
.calendar::after {
	right: 11px;
}

.calendar em::before,
.calendar em::after {
	content: "";
	float: left;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin: 0px;
	width: 6px;
	height: 17px;
	background: yellow;
	z-index: 4;
	border-radius: 25%;
	position: absolute;
}
.calendar em::before {
	left: 13px;
}
.calendar em::after {
	right: 13px;
}
